/* Если бы у меня были картинки на retina */
@font-face {
  font-weight: normal;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/ptsansnarrow.woff2") format("woff2"), url("../fonts/ptsansnarrow.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/ptsansnarrowbold.woff2") format("woff2"), url("../fonts/ptsansnarrowbold.woff") format("woff");
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  background-color: #f8f5f2;
  color: #f7f4f1;
  font-style: normal;
}
*::-moz-selection {
  background: yellow;
  color: goldenrod;
}
*::selection {
  background: yellow;
  color: goldenrod;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: #000;
}
a:hover {
  color: #826550;
}
a:active {
  color: #6a4d38;
}
.btn {
  display: inline-block;
  padding: 13px 0;
  outline: none;
  border: none;
  background: #826550;
  color: #fff;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  cursor: pointer;
}
.btn:hover {
  background: #6a4d38;
}
.btn:active {
  color: #978374;
}
.btn:disabled,
.btn.disabled {
  cursor: default;
  background: #aeaeae;
}
.btn--ghost {
  padding: 13px 30px;
  background: #f8f5f2;
  color: #000;
  -webkit-box-shadow: inset 0 0 0 1px #e5ddd5;
          box-shadow: inset 0 0 0 1px #e5ddd5;
}
.btn--ghost:hover {
  background: #f8f5f2;
  -webkit-box-shadow: inset 0 0 0 1px #d5cabe;
          box-shadow: inset 0 0 0 1px #d5cabe;
}
.btn--ghost:active {
  background: #d5c9bd;
  color: #958c84;
  -webkit-box-shadow: inset 0 0 0 1px #d5c9bd;
          box-shadow: inset 0 0 0 1px #d5c9bd;
}
h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
h3 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media (min-width: 768px) {
  h2 {
    font-size: 40px;
    line-height: 30px;
  }
}
.advantages {
  background: #242424;
}
.advantages__inner {
  width: auto;
  position: relative;
  min-height: 386px;
  padding-top: 30px;
  background: #242424;
  text-align: center;
}
@media (min-width: 768px) {
  .advantages__inner {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
  }
}
.advantages__inner::after {
  content: "";
  display: table;
  clear: both;
}
.advantages__inner::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 34px;
  bottom: 0;
  background: url('../img/advantages-angle.svg') no-repeat;
  background-position: 50% 50%;
}
.advantages__item-title {
  display: inline-block;
  text-transform: uppercase;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 12px;
}
.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages__item {
  position: absolute;
  left: 0;
  top: 0;
  margin-bottom: 23px;
  padding: 0 44px;
  padding-top: 125px;
}
.advantages__item::before {
  content: '';
  position: absolute;
  width: 95px;
  height: 95px;
  top: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.advantages__item--fast::before {
  background: url('../img/advantage-1-illustration.svg') no-repeat;
}
.advantages__item--awesome::before {
  background: url('../img/advantage-2-illustration.svg') no-repeat;
}
.advantages__item--expensive::before {
  background: url('../img/advantage-3-illustration.svg') no-repeat;
}
.advantages__item {
  display: none;
}
.slider__input {
  display: none;
}
.slider__input-1:checked ~ .advantages__list .advantages__item--fast,
.slider__input-2:checked ~ .advantages__list .advantages__item--awesome,
.slider__input-3:checked ~ .advantages__list .advantages__item--expensive {
  display: block;
}
.slider__toggle {
  position: absolute;
  width: 8px;
  height: 8px;
  -webkit-box-shadow: inset 0 0 0 2px #989898;
          box-shadow: inset 0 0 0 2px #989898;
  bottom: 47px;
  left: 50%;
  -webkit-transform: rotate(45deg) translateX(-50%);
      -ms-transform: rotate(45deg) translateX(-50%);
          transform: rotate(45deg) translateX(-50%);
  cursor: pointer;
}
.slider__toggle-1 {
  margin-left: -33px;
}
.slider__toggle-3 {
  margin-left: 33px;
}
.slider__input-1:checked ~ .advantages__toggles .slider__toggle-1,
.slider__input-2:checked ~ .advantages__toggles .slider__toggle-2,
.slider__input-3:checked ~ .advantages__toggles .slider__toggle-3 {
  background: #fff;
}
@media (min-width: 768px) {
  .advantages {
    background: #353535;
  }
  .advantages__inner {
    padding-top: 20px;
    padding-bottom: 50px;
    background: #353535;
  }
  .advantages__inner::after {
    width: 100%;
    height: 68px;
    background: url('../img/advantage-angle-tablet.svg') no-repeat 50% 50%;
  }
  .advantages__item {
    position: relative;
    display: block;
    margin-bottom: 40px;
    margin: 0 30px;
    padding: 0;
    padding-left: 130px;
    padding-right: 7px;
    padding-bottom: 37px;
    text-align: left;
  }
  .advantages__item::before {
    left: 0;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    top: 28px;
  }
  .advantages__item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: #4a4a4a;
  }
  .advantages__item:last-child::after {
    display: none;
  }
  .advantages__item:last-child {
    margin-bottom: 0;
  }
  .advantages__toggles {
    display: none;
  }
}
@media (min-width: 1080px) {
  .advantages::after {
    content: "";
    display: table;
    clear: both;
  }
  .advantages__inner {
    padding-top: 75px;
    padding-bottom: 59px;
  }
  .advantages__inner::after {
    content: "";
    display: table;
    clear: both;
  }
  .advantages__list {
    display: table;
    width: 100%;
  }
  .advantages__item {
    display: table-cell;
    width: 240px;
    margin: 0;
    padding: 200px 40px 50px;
    text-align: center;
  }
  .advantages__item::before {
    top: 78px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .advantages__item::after {
    left: 100%;
    top: 78px;
    bottom: 50px;
    width: 1px;
    height: auto;
  }
  .advantages__item:nth-child(n+2) {
    display: table-cell;
  }
}
.main-nav {
  position: relative;
  width: auto;
  margin: 0 auto;
  min-height: 50px;
  background: #826550;
  color: #fff;
  z-index: 10;
}
.main-nav__inner {
  position: absolute;
  width: 100%;
  overflow: hidden;
}
.main-nav__inner::before {
  content: '';
  position: absolute;
  left: 70px;
  top: -10px;
  bottom: -10px;
  width: 100%;
  -webkit-box-shadow: inset 4px 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: inset 4px 0 5px rgba(0, 0, 0, 0.3);
  z-index: 100;
  pointer-events: none;
}
.main-nav.main-nav--nojs {
  overflow: hidden;
}
.main-nav__inner a {
  text-decoration: none;
}
.main-nav__toggle {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 70px;
  height: 50px;
  top: 0;
  right: 0;
  z-index: 2;
  background: #6a4d38;
  cursor: pointer;
}
.main-nav__toggle:hover,
.main-nav__toggle:active {
  background: #624530;
}
.main-nav--closed .main-nav__toggle::after {
  content: '';
  position: absolute;
  left: 17px;
  width: 36px;
  top: 15px;
  height: 2px;
  background: #fff;
  -webkit-box-shadow: 0 8px 0 #fff,
  0 16px 0 #fff;
          box-shadow: 0 8px 0 #fff,
  0 16px 0 #fff;
}
.main-nav--closed .main-nav__toggle:active::after {
  background: #917d6f;
  -webkit-box-shadow: 0 8px 0 #917d6f,
    0 16px 0 #917d6f;
          box-shadow: 0 8px 0 #917d6f,
    0 16px 0 #917d6f;
}
.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: '';
  position: absolute;
  top: 24px;
  left: 17px;
  width: 36px;
  height: 2px;
  background: #fff;
}
.main-nav--opened .main-nav__toggle::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background: #917d6f;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.main-nav__list,
.main-nav__user-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 70px;
  font-size: 0;
}
.main-nav__list {
  background: #826550;
  color: #fff;
}
.main-nav__item {
  margin: 0;
  padding: 0;
}
.main-nav__item a {
  position: relative;
  display: block;
  width: auto;
  padding: 13px 21px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  background: #826550;
  color: #fff;
  -webkit-box-shadow: inset 0 1px 0 #886e5b, inset 0 -1px 0 #71543f;
          box-shadow: inset 0 1px 0 #886e5b, inset 0 -1px 0 #71543f;
  text-transform: uppercase;
  overflow: hidden;
}
.main-nav__item a:hover {
  background: #755a46;
}
.main-nav__item a:active {
  background: #6a4d38;
  color: #978374;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.main-nav--closed .main-nav__list .main-nav__item a::before,
.main-nav--closed .main-nav__user-list .main-nav__user-item a::before {
  display: none;
}
.main-nav__item--active {
  pointer-events: none;
}
.main-nav__user-list {
  display: block;
  overflow: hidden;
}
.main-nav__user-list a {
  position: relative;
  padding-left: 49px;
}
.main-nav__user-list a::after {
  content: '';
  position: absolute;
  left: 16px;
  top: 18px;
  width: 16px;
  height: 16px;
  background: url('../img/sprite.png') no-repeat -10px -204px;
}
.main-nav__user-list a:hover::after {
  background: url('../img/sprite.png') no-repeat -10px -240px;
}
.main-nav__user-list a:active::after {
  background: url('../img/sprite.png') no-repeat -10px -204px;
}
.main-nav__user-login {
  position: relative;
  display: block;
  width: auto;
  padding: 13px 21px;
  font-size: 18px;
  line-height: 24px;
  background: #6a4d38;
  color: #fff;
}
.main-nav__user-login:hover {
  background: #624530;
  color: #fff;
}
.main-nav__user-login:active {
  color: #917d6f;
}
.main-nav--nojs .main-nav__inner {
  position: static;
  height: auto;
}
.main-nav--nojs .main-nav__toggle {
  display: none;
}
@media (max-width: 767px) {
  .main-nav--closed .main-nav__item--active a {
    display: block;
    position: absolute;
    left: -70px;
    top: 0;
    right: 0;
    text-align: center;
    color: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .main-nav--closed .main-nav__item--active a:hover {
    background: #755a46;
  }
  .main-nav--closed .main-nav__item--active a:active {
    background: #6a4d38;
    color: #978374;
  }
  .main-nav--closed .main-nav__item:not(.main-nav__item--active),
  .main-nav--closed .main-nav__user-list {
    display: none;
  }
  .main-nav--nojs .main-nav__item:not(.main-nav__item--active),
  .main-nav--nojs .main-nav__user-list {
    display: block;
  }
  .main-nav--closed .main-nav__item--active {
    height: 50px;
  }
  .main-nav--closed .main-nav__inner::before {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
@media (min-width: 768px) {
  .main-nav {
    width: auto;
    margin: 0;
    color: #fff;
    background: #000;
  }
  .main-nav::after {
    content: "";
    display: table;
    clear: both;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__inner {
    width: auto;
    position: relative;
  }
  .main-nav__inner::after {
    content: "";
    display: table;
    clear: both;
  }
  .main-nav__inner::before {
    display: none;
  }
  .main-nav__list {
    float: left;
    width: auto;
    background: none;
    margin: 0;
  }
  .main-nav__item {
    float: left;
    vertical-align: top;
  }
  .main-nav__item a {
    background: #000;
    line-height: 24px;
    padding: 24px 16px;
  }
  .main-nav__item--active a {
    position: relative;
    left: 0;
    overflow: visible;
  }
  .main-nav__item--active a::after {
    content: '';
    position: absolute;
    height: 3px;
    bottom: -2px;
    left: 16px;
    right: 16px;
    background: #826550;
  }
  .main-nav__user-list {
    float: right;
    width: 50px;
    margin: 0;
  }
  .main-nav__user-list a::after {
    top: 29px;
    left: 6px;
    background-position: -10px -204px;
  }
  .main-nav__user-list a:hover::after {
    background-position: -10px -276px;
  }
  .main-nav__user-list a:active::after {
    background-position: -10px -204px;
  }
  .main-nav__list .main-nav__item a,
  .main-nav__user-list .main-nav__user-item a {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .main-nav__list .main-nav__item a:hover,
  .main-nav__user-list .main-nav__user-item a:hover {
    background: #000;
    color: #826550;
  }
  .main-nav__list .main-nav__item a:active,
  .main-nav__user-list .main-nav__user-item a:active {
    background: #000;
    color: #4d4d4d;
  }
  .main-nav__list .main-nav__item a::before,
  .main-nav__user-list .main-nav__user-item a::before {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .main-nav__user-item a {
    height: 72px;
    padding: 0;
    font-size: 0;
    background: #000;
  }
  .main-nav__item--active {
    position: relative;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .main-nav__inner {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
  }
}
@media (min-width: 1080px) {
  .main-nav__user-list {
    display: block;
    width: auto;
    max-width: 160px;
  }
  .main-nav__user-list a::after {
    top: 34px;
    left: 15px;
    background-position: -10px -204px;
  }
  .main-nav__user-list a:hover::after {
    background-position: -10px -240px;
    opacity: .9;
  }
  .main-nav__user-list a:active::after {
    background-position: -10px -240px;
    opacity: .3;
  }
  .main-nav .main-nav__item a,
  .main-nav .main-nav__user-item a {
    background: #000;
    color: #fff;
    padding: 29px 31px;
  }
  .main-nav .main-nav__item a:hover,
  .main-nav .main-nav__user-item a:hover {
    background: #fff;
    color: #000;
  }
  .main-nav .main-nav__item a:active,
  .main-nav .main-nav__user-item a:active {
    background: #fff;
    color: #b2b2b2;
  }
  .main-nav__item--active a::after {
    left: 31px;
    right: 31px;
  }
  .main-nav .main-nav__user-item a {
    font-weight: bold;
    text-transform: uppercase;
    height: 24px;
    line-height: 24px;
    font-size: 18px;
    text-align: right;
    padding-left: 47px;
  }
  .main-nav__user-login::before {
    display: none;
  }
}
.news__inner {
  width: auto;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 33px 20px 28px;
  background: #f8f5f2;
  color: #000;
}
@media (min-width: 768px) {
  .news__inner {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
  }
}
.news__inner::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: #e5ddd5;
}
.news__title {
  margin: 0;
  margin-bottom: 28px;
  text-align: center;
  text-transform: uppercase;
}
.news__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 7px;
}
.news__item {
  position: relative;
  padding: 15px 0;
  padding-bottom: 18px;
  padding-left: 70px;
}
.news__item p {
  margin: 0;
}
.news__item a:hover .news__date {
  background: #826550;
}
.news__item a:hover .news__date::before {
  border-top: 10px solid #826550;
}
.news__item a:active .news__date {
  background: #6a4d38;
}
.news__item a:active .news__date::before {
  border-top: 10px solid #6a4d38;
}
.news__item:nth-child(n+2)::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  background: #e5ddd5;
}
.news__item:nth-child(n+3) {
  display: none;
}
.news__item--show:nth-child(n+3) {
  display: block;
}
.news__link {
  text-decoration: none;
}
.news__date {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 12px;
  left: 0;
  width: 50px;
  height: 50px;
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 15px;
  padding-top: 12px;
}
.news__date::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: -35px;
  left: 0;
  border: 25px solid transparent;
  border-top: 10px solid #000;
}
.news__date b {
  font-size: 30px;
  line-height: 16px;
}
.btn.news__to-all {
  display: block;
  width: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.news__to-all--hid {
  display: none;
}
@media (min-width: 768px) {
  .news__inner {
    padding: 0;
    padding-top: 52px;
  }
  .news__title {
    min-height: 40px;
    margin-right: 200px;
    margin-bottom: 55px;
    text-align: left;
  }
  .news__list {
    font-size: 0;
    width: auto;
  }
  .news__item {
    display: inline-block;
    width: -webkit-calc(34%);
    width: calc(34%);
    /* изменить */
    margin: 0;
    padding: 0 30px;
    padding-left: 70px;
    padding-bottom: 34px;
    vertical-align: top;
    font-size: 18px;
    line-height: 27px;
  }
  .news__item::after {
    display: none;
  }
  .btn.news__to-all {
    position: absolute;
    width: 160px;
    top: 40px;
    right: 0;
  }
}
@media (min-width: 1080px) {
  .news__inner {
    padding-top: 65px;
  }
  .news__title {
    margin-left: 70px;
  }
  .news__item {
    width: 220px;
    padding-bottom: 37px;
  }
  .news__item:nth-child(n+3) {
    display: inline-block;
  }
  .btn.news__to-all {
    top: 54px;
  }
}
.page-footer {
  background: #292929;
}
.page-footer__inner {
  width: auto;
  background: #292929;
  color: #fff;
  padding-bottom: 26px;
}
@media (min-width: 768px) {
  .page-footer__inner {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
  }
}
.page-footer__inner::after {
  content: "";
  display: table;
  clear: both;
}
p {
  margin: 0;
}
.page-footer__btn {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #3e3e3e;
}
.page-footer__btn:hover {
  position: relative;
  z-index: 1;
  border-color: #545454;
}
.page-footer__btn:active {
  border-color: #252525;
  background: #252525;
  color: rgba(255, 255, 255, 0.3);
}
.page-footer__contacts {
  position: relative;
  padding: 33px 20px 26px;
  text-align: center;
}
.page-footer__contacts::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  background: #353535;
}
.page-footer__contacts-title {
  line-height: 40px;
}
.page-footer__contacts a {
  display: block;
  width: auto;
  height: 50px;
  line-height: 48px;
  margin-top: 15px;
  color: #fff;
  text-decoration: none;
}
.page-footer__contacts-hidden {
  display: none;
}
.page-footer__copyright {
  position: relative;
  padding: 33px 20px 0;
  text-align: center;
}
.page-footer__copyright-link {
  display: block;
  width: auto;
  height: 48px;
  line-height: 46px;
  font-weight: bold;
  margin-top: 13px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.page-footer__copyright-link:hover {
  color: #fff;
}
@media (min-width: 768px) {
  .page-footer__inner {
    position: relative;
    padding-bottom: 59px;
  }
  .page-footer__contacts {
    padding-left: 0;
    padding-right: 0;
    text-align: left;
  }
  .page-footer__contacts-title {
    text-transform: uppercase;
  }
  .page-footer__contacts .page-footer__btn {
    border: none;
    pointer-events: none;
  }
  .page-footer__contacts-hidden {
    display: inline;
  }
  .page-footer__copyright {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .page-footer__copyright-link {
    width: 160px;
  }
}
@media (min-width: 1080px) {
  .page-footer__inner {
    min-height: 198px;
    padding-bottom: 0;
  }
  .page-footer__contacts {
    float: left;
    margin-right: 85px;
    padding: 0;
    padding-top: 43px;
  }
  .page-footer__contacts .page-footer__btn {
    margin-top: 0;
  }
  .page-footer__social {
    float: left;
    text-align: center;
    padding-top: 50px;
  }
  .page-footer__social::after {
    content: "";
    display: table;
    clear: both;
  }
  .page-footer__social .visually-hidden {
    position: relative;
    z-index: 1;
    display: block;
    width: auto;
    min-height: 27px;
    margin-bottom: 12px;
  }
  .page-footer__copyright {
    top: 15px;
  }
}
.page-header__logo {
  position: relative;
  height: 85px;
  background: #242424;
}
.page-header__logo img {
  position: absolute;
  width: 226px;
  top: 29px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (min-width: 768px) {
  .page-header {
    position: relative;
    min-height: 70px;
    padding-bottom: 400px;
  }
  .page-header__logo {
    position: absolute;
    top: 72px;
    bottom: 0;
    width: 100%;
    height: 400px;
    background: url('../img/bg-tablet.jpg');
  }
  .page-header__logo img {
    width: 370px;
  }
}
@media (min-width: 1080px) {
  .page-header {
    padding-bottom: 648px;
  }
  .page-header__logo {
    top: 82px;
    height: 648px;
    background: url('../img/bg-desktop.jpg');
  }
  .page-header__logo img {
    top: 58px;
  }
}
.reviews__inner {
  width: auto;
  position: relative;
  padding-top: 30px;
  padding-bottom: 87px;
  padding: 30px 0 87px;
  background: #f8f5f2;
  color: #000;
  min-height: 200px;
}
@media (min-width: 768px) {
  .reviews__inner {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
  }
}
.reviews__inner::after {
  content: '';
  position: absolute;
  left: 0px;
  right: 0px;
  height: 34px;
  bottom: 0;
  background: url('../img/reviews-angle.svg') no-repeat;
  background-position: 50% 50%;
}
.reviews__title {
  margin: 0;
  margin-bottom: 28px;
  text-transform: uppercase;
  text-align: center;
}
.reviews__list {
  position: relative;
  padding: 0 20px;
}
.reviews__item {
  position: absolute;
  display: none;
  width: auto;
  margin: 0;
  padding-left: 90px;
}
.slider__input-1:checked ~ .reviews__list .reviews__item-1,
.slider__input-2:checked ~ .reviews__list .reviews__item-2,
.slider__input-3:checked ~ .reviews__list .reviews__item-3 {
  display: block;
}
.slider__input {
  display: none;
}
.reviews .slider__toggle {
  position: absolute;
  width: 8px;
  height: 8px;
  -webkit-box-shadow: inset 0 0 0 2px #989898;
          box-shadow: inset 0 0 0 2px #989898;
  bottom: 52px;
  left: 50%;
  -webkit-transform: rotate(45deg) translateX(-50%);
      -ms-transform: rotate(45deg) translateX(-50%);
          transform: rotate(45deg) translateX(-50%);
  cursor: pointer;
}
.slider__toggle-1 {
  margin-left: -33px;
}
.slider__toggle-3 {
  margin-left: 33px;
}
.slider__input-1:checked ~ .reviews__toggles .slider__toggle-1,
.slider__input-2:checked ~ .reviews__toggles .slider__toggle-2,
.slider__input-3:checked ~ .reviews__toggles .slider__toggle-3 {
  background: #000;
}
.reviews__author-name {
  font-size: 24px;
  line-height: 27px;
  font-style: normal;
  font-weight: bold;
}
.reviews__author-photo {
  position: absolute;
  top: 15px;
  left: 0;
}
.reviews__author-photo img {
  display: block;
  border: 1px solid #e5ddd5;
  background: transparent;
  -o-object-fit: cover;
     object-fit: cover;
}
.reviews__item:nth-child(2) img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
.reviews__item:nth-child(3) img {
  -webkit-filter: saturate(0%);
          filter: saturate(0%);
}
.reviews__write {
  display: none;
}
.reviews__btn {
  display: none;
}
@media (min-width: 768px) {
  .reviews__inner {
    padding-top: 45px;
    padding-bottom: 71px;
  }
  .reviews__inner::after {
    display: none;
  }
  .reviews__title {
    margin: 0;
    margin-bottom: 45px;
    text-align: left;
  }
  .reviews__list {
    padding: 0;
  }
  .reviews__item {
    position: relative;
    padding: 33px 80px 34px 190px;
    border: 1px solid #e5ddd5;
    overflow: hidden;
  }
  .reviews__author-name {
    display: block;
    margin-bottom: 10px;
  }
  .reviews__author-photo,
  .reviews__author-photo:nth-child(2),
  .reviews__author-photo:nth-child(3) {
    position: absolute;
    width: 82px;
    height: 82px;
    left: 80px;
    top: 50%;
    margin-top: -41px;
    background: transparent;
  }
  .reviews__author-photo img,
  .reviews__author-photo:nth-child(2) img,
  .reviews__author-photo:nth-child(3) img {
    border: none;
  }
  .reviews__write {
    position: absolute;
    display: block;
    top: 34px;
    right: 0;
  }
  .reviews .slider__toggles {
    position: absolute;
    width: 126px;
    height: 10px;
    background: #f8f5f2;
    bottom: 62px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .slider__toggle {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
  }
  .reviews__btn {
    position: absolute;
    display: block;
    border: none;
    font-size: 0;
    width: 50px;
    height: 160px;
    top: 0;
    cursor: pointer;
    padding: 0;
  }
  .reviews__btn::after {
    content: '';
    position: absolute;
    border: 6px solid transparent;
    top: 50%;
    margin-top: -6px;
    left: 50%;
  }
  .reviews__prev {
    left: 0;
  }
  .reviews__prev::after {
    border-right: 12px solid #000;
    margin-left: -12px;
  }
  .reviews__next {
    right: 0;
  }
  .reviews__next::after {
    border-left: 12px solid #000;
    margin-left: -6px;
  }
}
@media (min-width: 1080px) {
  .reviews__inner {
    padding-bottom: 98px;
  }
  .reviews__title {
    margin-left: 71px;
  }
  .reviews__item {
    padding-left: 319px;
    margin: 0 71px;
  }
  .reviews .slider__toggles {
    bottom: 40px;
  }
  .reviews__author-photo {
    position: absolute;
    width: 250px;
    height: 160px;
    left: 0;
    top: 42px;
    background: transparent;
  }
  .reviews__author-photo img {
    position: absolute;
    left: 0;
    top: -2px;
    max-width: 100%;
    height: auto;
  }
}
.social-links {
  display: block;
  width: auto;
  font-size: 0;
  margin-right: -1px;
}
.social-link {
  position: relative;
  display: inline-block;
  font-size: 18px;
  width: -webkit-calc(32.93333333%);
  width: calc(32.93333333%);
  height: 101px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin-left: -1px;
  vertical-align: top;
  border: 1px solid #3e3e3e;
}
.social-link:hover {
  position: relative;
  z-index: 1;
  border-color: #545454;
}
.social-link:active {
  border-color: #252525;
  background: #252525;
  color: rgba(255, 255, 255, 0.3);
}
.social-link::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 50px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url('../img/sprite.png') no-repeat;
}
.social-link:active::after {
  opacity: .3;
}
.social-link--fb::after {
  background-position: 0 -5px;
}
.social-link--in::after {
  background-position: -8px -100px;
}
.social-link--vk::after {
  background-position: 0 -300px;
}
@media (min-width: 768px) {
  .social-link {
    width: -webkit-calc(33.17333333%);
    width: calc(33.17333333%);
  }
  .social-link--fb::after {
    background-position: 5px -5px;
  }
  .social-link--in::after {
    background-position: -6px -100px;
  }
  .social-link--vk::after {
    background-position: 2px -300px;
  }
}
@media (min-width: 1080px) {
  .social-links {
    float: left;
  }
  .social-link {
    width: 48px;
    height: 48px;
    margin-right: 6px;
  }
  .social-link:last-child {
    margin-right: 0;
  }
  .social-link--fb::after {
    background-position: 5px -54px;
  }
  .social-link--in::after {
    background-position: 1px -149px;
  }
  .social-link--vk::after {
    background-position: 2px -342px;
  }
}
.stats {
  background: #353535;
  color: #000;
}
.stats__inner {
  width: auto;
  background: #353535;
  color: #000;
}
@media (min-width: 768px) {
  .stats__inner {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
  }
}
.stats__header {
  position: relative;
  padding: 26px 38px;
  background: #fff;
  color: #000;
  text-align: center;
}
.stats__slogan {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.stats__intro {
  font-size: 20px;
  line-height: 27px;
  margin: 0;
  margin-top: 16px;
}
.stats__table {
  width: 100%;
  color: #fff;
  background: #404040;
  border-collapse: collapse;
}
.stats__table tr {
  height: 81px;
}
.stats__table tr:nth-child(3n+1) {
  background: #404040;
}
.stats__table tr:nth-child(3n+2) {
  background: #4e4e4e;
}
.stats__table tr:nth-child(3n+3) {
  background: #353535;
}
.stats__legend {
  display: block;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}
.stats__legend--top {
  display: none;
}
.stats__legend--bottom {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #666;
  background: #242424;
}
.stats__value {
  font-size: 40px;
  padding-left: 22px;
  font-weight: bold;
}
.stats__field {
  padding-right: 21px;
  text-align: right;
}
@media (min-width: 768px) {
  .stats {
    position: relative;
    z-index: 1;
    background: #353535;
  }
  .stats__header {
    position: absolute;
    top: -184px;
    width: auto;
    height: 99px;
    padding: 0;
    padding-top: 31px;
    padding-bottom: 54px;
  }
  .stats__header::before {
    content: '';
    position: absolute;
    left: -21px;
    top: 20px;
    border: 21px solid transparent;
    border-bottom: 21px solid #fff;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .stats__slogan {
    float: left;
    width: 240px;
    font-size: 40px;
    line-height: 40px;
    text-transform: none;
    text-align: left;
    padding: 0 40px;
  }
  .stats__legend--top {
    position: absolute;
    bottom: 30px;
    left: 40px;
  }
  .stats__intro {
    float: right;
    width: 320px;
    text-align: left;
    padding: 5px 81px 24px 34px;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .stats__legend--top {
    display: block;
    color: #b2b2b2;
  }
  .stats__legend--bottom {
    display: none;
  }
  .stats__table {
    width: auto;
    display: block;
  }
  .stats__table::after {
    content: "";
    display: table;
    clear: both;
  }
  .stats__table tr {
    width: 320px;
    min-height: 160px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 25px 38px;
  }
  .stats__table tr:nth-child(2n-1) {
    float: left;
  }
  .stats__table tr:nth-child(2n) {
    float: right;
  }
  .stats__table td {
    display: block;
    text-align: left;
    width: auto;
    padding: 0;
  }
  .stats__value {
    font-size: 72px;
    line-height: 72px;
  }
  td.stats__field {
    padding-top: 10px;
    font-size: 20px;
  }
  .stats__field br {
    display: none;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .stats__table {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
  }
}
@media (min-width: 1080px) {
  .stats__inner {
    margin-top: -160px;
  }
  .stats__header {
    position: relative;
    float: left;
    width: 240px;
    min-height: 235px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 0;
    top: 0;
  }
  .stats__slogan {
    padding: 0;
    margin-bottom: 42px;
  }
  .stats__intro {
    float: left;
    display: inline-block;
    width: auto;
    padding: 0;
  }
  .stats__table {
    float: left;
    display: block;
    width: 640px;
  }
}
.modal-content {
  position: fixed;
  top: 50px;
  left: 50%;
  z-index: 32;
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: -160px;
  padding: 32px 20px;
  width: 320px;
  background: #f8f5f2;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.75);
          box-shadow: 0 30px 50px rgba(0, 0, 0, 0.75);
  color: #000;
}
.modal-content--show {
  display: block;
}
.modal-content__title {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
}
.modal-content p {
  margin: 0;
  margin-bottom: 23px;
  text-align: center;
}
.modal-content__field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 38px 10px 17px;
  width: 100%;
  height: 50px;
  outline: none;
  border: 1px solid #e5ddd5;
  font-size: 18px;
  line-height: 30px;
  color: #000;
  background: #fff;
}
.modal-content__field:hover {
  border-color: #d5c9bd;
}
.modal-content__field:active {
  border-color: #999999;
}
.modal-content__field::-webkit-input-placeholder {
  opacity: 1;
}
.modal-content__field::-moz-placeholder {
  opacity: 1;
}
.modal-content__field:-ms-input-placeholder {
  opacity: 1;
}
.modal-content__field::placeholder {
  opacity: 1;
}
.modal-content__field:placeholder-shown {
  color: #000;
  text-indent: 0;
  -webkit-transition: color 0.1s, text-indent 0.3s;
  -o-transition: color 0.1s, text-indent 0.3s;
  transition: color 0.1s, text-indent 0.3s;
}
.modal-content__field:placeholder-shown:focus {
  color: transparent;
  text-indent: 500px;
  -webkit-transition: color 0.1s, text-indent 0.3s;
  -o-transition: color 0.1s, text-indent 0.3s;
  transition: color 0.1s, text-indent 0.3s;
}
.modal-content__field--icon-login {
  margin-bottom: 6px;
  background: url('../img/user.svg') no-repeat 94% 50%;
}
.modal-content__field--icon-password {
  margin-bottom: 26px;
  background: url('../img/locked.svg') no-repeat 94% 50%;
}
.modal-content__checkbox-label {
  position: relative;
  float: left;
  margin-bottom: 35px;
  padding-left: 48px;
}
.modal-content__checkbox-input {
  display: none;
}
.modal-content__checkbox-input:checked ~ .modal-content__checkbox-indicator,
.modal-content__checkbox-input:hover ~ .modal-content__checkbox-indicator,
.modal-content__checkbox-input:checked:hover ~ .modal-content__checkbox-indicator {
  -webkit-box-shadow: inset 0 0 0 1px #d5c9bd;
          box-shadow: inset 0 0 0 1px #d5c9bd;
}
.modal-content__checkbox-input:active ~ .modal-content__checkbox-indicator,
.modal-content__checkbox-input:checked:active ~ .modal-content__checkbox-indicator,
.modal-content__checkbox-input:checked:active ~ .modal-content__checkbox-indicator:before,
.modal-content__checkbox-input:checked:active ~ .modal-content__checkbox-indicator:after {
  background: #d5c9bd;
}
.modal-content__checkbox-indicator {
  position: absolute;
  left: 0;
  width: 33px;
  height: 33px;
  background: #fff;
  -webkit-box-shadow: inset 0 0 0 1px #e5ddd5;
          box-shadow: inset 0 0 0 1px #e5ddd5;
}
.modal-content__checkbox-input:active ~ .modal-content__checkbox-indicator::before,
.modal-content__checkbox-input:checked ~ .modal-content__checkbox-indicator::before {
  position: absolute;
  bottom: 12px;
  left: 4px;
  width: 11px;
  height: 3px;
  background: #000;
  content: '';
}
.modal-content__checkbox-input:active ~ .modal-content__checkbox-indicator::after,
.modal-content__checkbox-input:checked ~ .modal-content__checkbox-indicator::after {
  position: absolute;
  bottom: 15px;
  left: 9px;
  width: 22px;
  height: 3px;
  background: #000;
  content: '';
}
.modal-content__checkbox-indicator::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.modal-content__checkbox-indicator::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.modal-content__restore {
  float: right;
  color: #000;
}
.modal-content__login {
  float: left;
  width: 130px;
}
.modal-content__close {
  float: right;
  width: 130px;
}
@media (min-width: 768px) {
  .modal-content {
    top: 130px;
    margin-left: -230px;
    padding: 58px 70px;
    width: 460px;
  }
  @-webkit-keyframes bounce {
    0% {
      -webkit-transform: translateY(-2000px);
              transform: translateY(-2000px);
    }
    70% {
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
    }
    90% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes bounce {
    0% {
      -webkit-transform: translateY(-2000px);
              transform: translateY(-2000px);
    }
    70% {
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
    }
    90% {
      -webkit-transform: translateY(-10px);
              transform: translateY(-10px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  .modal-content--show {
    display: block;
    -webkit-animation: bounce .6s;
            animation: bounce .6s;
  }
  @-webkit-keyframes error {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
  }
  @keyframes error {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
  }
  .modal-content--error {
    -webkit-animation: error .6s;
            animation: error .6s;
  }
  .modal-content__field {
    height: 70px;
    padding: 20px 45px 20px 24px;
    font-size: 24px;
  }
  .modal-content__field--icon-login {
    margin-bottom: 6px;
    background: url('../img/user.svg') no-repeat 92% 50%;
  }
  .modal-content__field--icon-password {
    margin-bottom: 26px;
    background: url('../img/locked.svg') no-repeat 92% 50%;
  }
  .modal-content__login {
    width: 100%;
  }
  .modal-content__close,
  .modal-content__close:hover {
    position: absolute;
    top: 88px;
    right: -103px;
    z-index: 31;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    text-indent: 9999px;
    -o-text-overflow: clip;
       text-overflow: clip;
    cursor: pointer;
  }
  .modal-content__close::before,
  .modal-content__close:hover::before,
  .modal-content__close::after,
  .modal-content__close:hover::after {
    content: '';
    position: absolute;
    top: 24px;
    left: 7px;
    width: 35px;
    height: 3px;
    background: #fff;
  }
  .modal-content__close::before,
  .modal-content__close:hover::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .modal-content__close::after,
  .modal-content__close:hover::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .modal-content__close:active::before,
  .modal-content__close:active::after {
    background: #917d6f;
  }
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 31;
  display: none;
  /* -------------------скрытый оверлей для карты*/
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-overlay--show {
  display: block;
}
/*
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, .5);

  z-index: 45;
}

.modal-overlay-show {
    display: block;
}
*/
/*


.modal-success {
  position: fixed;
  left: 50%;
  top: 25vh;
  display: none;
  width: 320px;
  height: 317px;
  margin-left: -160px;
  padding: 55px 20px 47px;
  box-sizing: border-box;

  color: #000;
  background: #ffffff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, .7);

  z-index: 50;
}

@keyframes bounce-bottom {
  0% {
    transform: translateY(5000px);
  }
  70% {
    transform: translateY(-30px);
  }
  90% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.modal-success-show {
  display: block;
  animation: bounce-bottom 0.6s;
}

.modal-success__title {
  margin: 0;
  margin-bottom: 17px;

  font-size: 40px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.modal-success p {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 18px;
  text-align: center;
}

.modal-success__btn {
  position: relative;
  left: 50%;
  width: 180px;
  height: 50px;
  margin-top: 35px;
  margin-left: -90px;

  font-weight: bold;
  font-size: 18px;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  color: #ffffff;
  background-color: #826550;
  border: none;

  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #6a4d38;
  }

  &:active {
    color: #978374;
    background-color: #6a4d38;
  }

  &:disabled {
    color: #ffffff;
    background-color: #aeaeae;
  }
}

@media @tablet-widths {
  .modal-success {
    left: 50%;
    width: 460px;
    margin-left: -230px;
    padding: 55px 70px 47px;
  }

  .modal-success__title {
    margin-bottom: 17px;

    font-size: 40px;
  }

  .modal-success p {
    padding-left: 20px;
    padding-right: 20px;
  }

  .modal-success__btn {
    width: 320px;
    margin-left: -160px;
  }
}
*/
/*


.modal-failure {
  position: fixed;
  left: 50%;
  top: 25vh;
  display: none;
  width: 320px;
  height: 317px;
  margin-left: -160px;
  padding: 55px 40px 47px;
  box-sizing: border-box;

  color: #000;
  background: #ffffff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, .7);

  z-index: 50;
}

.modal-failure-show {
  display: block;
  animation: bounce-bottom 0.6s;
}

.modal-failure__title {
  margin: 0;
  margin-bottom: 17px;

  font-size: 40px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.modal-failure p {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 18px;
  text-align: center;
}

.modal-failure__btn {
  position: relative;
  left: 50%;
  display: inline-block;
  width: 180px;
  height: 50px;
  margin-top: 35px;
  margin-left: -90px;

  font-weight: bold;
  font-size: 18px;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  color: #ffffff;
  background-color: #826550;
  border: none;

  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #6a4d38;
  }

  &:active {
    color: #978374;
    background-color: #6a4d38;
  }

  &:disabled {
    color: #ffffff;
    background-color: #aeaeae;
  }
}

@media @tablet-widths {
  .modal-failure {
    left: 50%;
    width: 320px;
    margin-left: -160px;
    padding: 55px 70px 47px;
  }

  .modal-failure__title {
    margin-bottom: 17px;

    font-size: 40px;
  }

  .modal-failure p {
    padding-left: 10px;
    padding-right: 10px;
  }

  .modal-failure__btn {
    width: 148px;
    margin-left: -74px;
  }
}
*/
