.main-nav {
  position: relative;
  width: auto;
  margin: 0 auto;
  height: 50px;
  background: @bg-lightbrown;
  color: #fff;
  z-index: 10;
}

.main-nav--closed .main-nav__item:not(.main-nav__item--active),
.main-nav--closed .main-nav__user-list {
  display: none;
}

.main-nav__inner a {
  text-decoration: none;
}

.main-nav__toggle {
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 70px;
  right: 0;
  padding: 15px 17px 15px;
  z-index: 2;
  background: @bg-darkbrown;
  cursor: pointer;

  &:hover,
  &:active {
    background: #624530;
  }

    &-strips {
    position: relative;
    display: block;
    width: auto;
    height: 20px;
    background: #fff;

    &:active {
    background: #917d6f;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 7px;
      background: @bg-darkbrown;
    }

    &::before {
      top: 2px;
    }

    &::after {
      top: 11px;
    }

  }

}

.main-nav__toggle--close {
  height: 50px;
  left: 0;

    &::before,
    &::after  {
      content: '';
      position: absolute;
      width: 35px;
      height: 3px;
      left: 17px;
      bottom: 23px;
      background: #fff;
      border-radius: 5px;
    }

    &:hover::before,
    &:hover::after {
      background: #fff;
    }

    &:active::before,
    &:active::after {
      background: #917d6f;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

  }

.main-nav__toggle:active .main-nav__toggle-strips {
  background: #917d6f;
}

.main-nav__toggle:hover .main-nav__toggle-strips,
.main-nav__toggle:active .main-nav__toggle-strips {

  &::before,
  &::after {
    background: #624530;
  }

}

.main-nav__list,
.main-nav__user-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 70px;
  font-size: 0;
}

.main-nav__list {
  background: @bg-lightbrown;
  color: #fff;
}

.main-nav__item {
  margin: 0;
  padding: 0;
}

.main-nav__item a {
  position: relative;
  display: block;
  width: auto;
  padding: 13px 21px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  background: @bg-lightbrown;
  color: #fff;
  box-shadow:
    inset 0 1px 0 #886e5b,
    inset 0 -1px 0 #71543f;
  text-transform: uppercase;
  overflow: hidden;

  &:hover {
    background: #755a46;
  }

  &:active {
    background: @bg-darkbrown;
    color: #978374;
    box-shadow: none;
  }

}

.main-nav__list .main-nav__item a,
.main-nav__user-list .main-nav__user-item a {

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: -10px;
    bottom: -10px;
    width: 100%;
    box-shadow: inset 4px 0 5px rgba(0,0,0,.3);
    z-index: 100;
  }

}

.main-nav--closed .main-nav__list .main-nav__item a,
.main-nav--closed .main-nav__user-list .main-nav__user-item a {

  &::before {
    display: none;
  }

}

.main-nav__item--active a {
  display: block;
  position: absolute;
  left: -70px;
  top: 0;
  right: 0;
  text-align: center;
  color: #fff;
  box-shadow: none;

  &:hover {
    background: #755a46;
  }

  &:active {
    background: @bg-darkbrown;
    color: #978374;
  }

}

.main-nav__user-list {
  display: block;
  overflow: hidden;
}

.main-nav__user-list a {
  position: relative;
  padding-left: 49px;

  &::after {
    content: '';
    position: absolute;
    left: 16px;
    top: 18px;
    width: 16px;
    height: 16px;
    background: url('../img/sprite.png') no-repeat -10px -204px;
  }

  &:hover::after {
    background: url('../img/sprite.png') no-repeat -10px -240px;
  }

  &:active::after {
    background: url('../img/sprite.png') no-repeat -10px -204px;
  }

}

.main-nav__user-login {
  position: relative;
  display: block;
  width: auto;
  padding: 13px 21px;
  font-size: 18px;
  line-height: 24px;
  background: @bg-darkbrown;
  color: #fff;

  &:hover {
    background: #624530;
    color: #fff;
  }

  &:active {
    color: #917d6f;
  }

}

@media @tablet-widths {

  .main-nav {
    width: auto;
    min-height: 70px;
    margin: 0;
    color: #fff;
    background: #000;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__inner {
    margin-top: 50px;
    .container();
    .clearfix();

    &::before {
      display: none;
    }

  }

  .main-nav__list {
    float: left;
    width: 570px;
  }

  .main-nav__item {
    display: block;
    float: left;
    vertical-align: top;
  }

  .main-nav__item a {
    background: #000;
    min-height: 70px;
    line-height: 70px;
  }

  .main-nav__user-list {
    float: right;
    width: 60px;
  }

  .main-nav__item--active {
    position: relative;
  }

}

@media @desktop-widths {

  .main-nav__list {
    width: 780px;
  }

  .main-nav__user-list {
    width: 160px;
  }

}
