.page-footer__inner {
  .container();
  background: #292929;
  color: #fff;
}

p {
  margin: 0;
}

.page-footer__btn {
  display: inline-block;
  vertical-align:top;
  border: 1px solid #3e3e3e;

  &:hover {
    position: relative;
    z-index: 1;
    border-color: #545454;
  }

  &:active {
    border-color: #252525;
    background: #252525;
    color: rgba(255, 255, 255, .3);
  }

}

.page-footer__contacts {
  position: relative;
  padding: 33px 20px 26px;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 1px;
    background: #353535;
  }
}

.page-footer__contacts b {
  line-height: 40px;
}

.page-footer__contacts a {
  display: block;
  width: auto;
  height: 50px;
  line-height: 48px;
  margin-top: 15px;
  color: #fff;
  text-decoration: none;
}

.page-footer__contacts-hidden {
  display: none;
}


.page-footer__social {

}

.page-footer__copyright {
  position: relative;
  padding: 33px 20px 26px;
  text-align: center;
}

.page-footer__copyright-link {
  display: block;
  width: auto;
  height: 50px;
  line-height: 48px;
  font-weight: bold;
  margin-top: 15px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: #fff;
  }

}



@media @tablet-widths {

}



@media @desktop-widths {

}
