.stats {
  background: #353535;
  color: #000;
}

.stats__inner {
  .container();
  background: #353535;
  color: #000;
}

.stats__header {
  position: relative;
  padding: 26px 38px;
  background: #fff;
  color: #000;
  text-align: center;
}

.stats__slogan {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.stats__intro {
  font-size: 20px;
  line-height: 27px;
  margin: 0;
  margin-top: 16px;
}

.stats__table {
  width: 100%;
  color: #fff;
  background: #404040;
  border-collapse: collapse;
}

.stats__table tr {
  height: 81px;
}

.stats__table tr:nth-child(3n+1) {
  background: #404040;
}

.stats__table tr:nth-child(3n+2) {
  background: #4e4e4e;
}

.stats__table tr:nth-child(3n+3) {
  background: #353535;
}

.stats__legend {
  display: block;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  &--top {
    display: none;
  }

  &--bottom {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #666;
    background: #242424;
  }

}

.stats__value {
  font-size: 40px;
  padding-left: 22px;
  font-weight: bold;
}

.stats__field {
  padding-right: 21px;
  text-align: right;
}

@media @tablet-widths {

  .stats {
    // .clearfix();
    position: relative;
    z-index: 1;
    background: #353535;
  }

  .stats__header {
    .container{};
    .clearfix();
    position: absolute;
    width: auto;
    height: 129px;
    padding: 0;
    padding-top: 31px;
    padding-bottom: 24px;
    margin-top: -184px;

    &::before {
      content: '';
      position: absolute;
      left: -21px;
      top: 20px;
      border: 21px solid transparent;
      border-bottom: 21px solid #fff;
      transform: rotate(45deg);
    }
  }

  .stats__slogan {
    float: left;
    width: 240px;
    font-size: 40px;
    line-height: 40px;
    text-transform: none;
    text-align: left;
    padding: 0 40px;
  }

  .stats__legend--top {
    position: absolute;
    bottom: 30px;
    left: 40px;
  }

  .stats__intro {
    float: right;
    width: 320px;
    text-align: left;
    padding: 5px 81px 24px 34px;
    margin: 0;
    box-sizing: border-box;
  }

  .stats__legend--top {
    display: block;
    color: #b2b2b2;
  }

  .stats__legend--bottom {
    display: none;
  }

  .stats__table {
    .clearfix();
    display: block;
  }

  .stats__table tr {
    width: 320px;
    min-height: 160px;
    box-sizing: border-box;
    padding: 25px 38px;
  }

  .stats__table tr:nth-child(2n-1) {
    float: left;
  }

  .stats__table tr:nth-child(2n) {
    float: right;
  }

  .stats__table td {
    display: block;
    text-align: left;
    width: auto;
    padding: 0;
  }

  .stats__value {
    font-size: 72px;
    line-height: 72px;
  }

  td.stats__field {
    padding-top: 10px;
    font-size: 20px;
  }

  .stats__field br {
    display: none;
  }

}

@media @desktop-widths {

  .stats {
    // .clearfix();
  }

  .stats__inner {
    margin-top: -160px;

  }

  .stats__header {
    position: relative;
    float: left;
    width: 240px;
    min-height: 265px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 0;
  }

  .stats__slogan {
    padding: 0;
    margin-bottom: 42px;
  }

  .stats__intro {
    float: left;
    display: inline-block;
    width: auto;
    padding: 0;
  }

  .stats__table {
    float: left;
    display: block;
    width: 640px;
  }

}
